
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success</h2>

<p>
    All the changes have been saved successfully. @Html.ActionLink("Go Back", "Index", "Home", new { area = "" }, new { @class = "" })
</p>

